body	{
	font-family: 'Roboto Mono', monospace;
	background: rgb(35, 35, 45);
	color: #CACACC;
	display: flex;
	justify-content: center;
}

.container	{
	max-width: 650px;
}

h1	{
	font-weight: 400;
	margin-bottom: 0.1em;
}

h2	{
	color: rgb(80,80,80);
	font-size: medium;
	font-weight: 300;
	margin: 0 0 1em 0;
}

a:link	{
	color: #CACACC;
}

a:visited	{
	color: #CACACC;
}

.links a	{
	margin: 0 1em 0 0;
}